@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tp4t5');
  src:  url('fonts/icomoon.eot?tp4t5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tp4t5') format('truetype'),
    url('fonts/icomoon.woff?tp4t5') format('woff'),
    url('fonts/icomoon.svg?tp4t5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sort_down:before {
  content: "\e946";
}
.icon-right_angled:before {
  content: "\e945";
}
.icon-chart:before {
  content: "\e943";
}
.icon-kline:before {
  content: "\e944";
}
.icon-arrow_up:before {
  content: "\e941";
}
.icon-arrow_down:before {
  content: "\e942";
}
.icon-zoom:before {
  content: "\e940";
}
.icon-menu_list:before {
  content: "\e93f";
}
.icon-heart:before {
  content: "\e93d";
}
.icon-heart_hollow:before {
  content: "\e93e";
}
.icon-diabolo:before {
  content: "\e93c";
}
.icon-minus_sign:before {
  content: "\e90a";
}
.icon-transaction:before {
  content: "\e939";
}
.icon-add:before {
  content: "\e93a";
}
.icon-back:before {
  content: "\e93b";
}
.icon-pick_coin:before {
  content: "\e934";
}
.icon-succeed_hollow:before {
  content: "\e935";
}
.icon-point_out:before {
  content: "\e936";
}
.icon-more:before {
  content: "\e937";
}
.icon-fullscreen:before {
  content: "\e938";
}
.icon-garbage_cans:before {
  content: "\e91b";
}
.icon-liked:before {
  content: "\e933";
}
.icon-rank_price:before {
  content: "\e92d";
}
.icon-total:before {
  content: "\e92e";
}
.icon-circulate:before {
  content: "\e92f";
}
.icon-menu:before {
  content: "\e930";
}
.icon-upload:before {
  content: "\e931";
}
.icon-clear_text:before {
  content: "\e932";
}
.icon-edit:before {
  content: "\e91e";
}
.icon-twitter:before {
  content: "\e911";
}
.icon-weibos:before {
  content: "\e912";
}
.icon-change_up:before {
  content: "\e913";
}
.icon-change_down:before {
  content: "\e914";
}
.icon-search:before {
  content: "\e915";
}
.icon-big_plus:before {
  content: "\e916";
}
.icon-facebook:before {
  content: "\e917";
}
.icon-linkin:before {
  content: "\e918";
}
.icon-reddit:before {
  content: "\e919";
}
.icon-delete:before {
  content: "\e91a";
}
.icon-settings:before {
  content: "\e91c";
}
.icon-plus:before {
  content: "\e91d";
}
.icon-message:before {
  content: "\e91f";
}
.icon-succeed:before {
  content: "\e920";
}
.icon-technology:before {
  content: "\e921";
}
.icon-exchange:before {
  content: "\e922";
}
.icon-media_hot:before {
  content: "\e923";
}
.icon-rank_value:before {
  content: "\e924";
}
.icon-down:before {
  content: "\e925";
}
.icon-time_solid:before {
  content: "\e926";
}
.icon-fire:before {
  content: "\e927";
}
.icon-none_selected:before {
  content: "\e928";
}
.icon-selected:before {
  content: "\e929";
}
.icon-wechat:before {
  content: "\e92a";
}
.icon-weibo:before {
  content: "\e92b";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-market_active:before {
  content: "\e900";
}
.icon-view:before {
  content: "\e901";
}
.icon-view_active .path1:before {
  content: "\e902";
  color: rgb(0, 0, 0);
}
.icon-view_active .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-guide:before {
  content: "\e904";
}
.icon-guide_active:before {
  content: "\e905";
}
.icon-news:before {
  content: "\e906";
}
.icon-news_active:before {
  content: "\e907";
}
.icon-market:before {
  content: "\e908";
}
.icon-like_active:before {
  content: "\e909";
}
.icon-share:before {
  content: "\e90b";
}
.icon-error_correction:before {
  content: "\e90c";
}
.icon-time:before {
  content: "\e90d";
}
.icon-collection:before {
  content: "\e90e";
}
.icon-tra_up:before {
  content: "\e90f";
}
.icon-like:before {
  content: "\e910";
}
