<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:largeHeap="true"
    package="vip.bizhihui.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--<uses-permission android:name="android.permission.READ_CONTACTS"/>-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 个推开机自启权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 个推休眠状态下 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 这个权限用于进行网络定位 -->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
    <!--&lt;!&ndash; 这个权限用于访问GPS定位 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_GPS"/>-->
    <!--amap额外权限-->
    <!--<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>-->

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="getui.permission.GetuiService.com.bmdoctor.jyt"/>


    <!--友盟统计权限-->
    <uses-sdk android:minSdkVersion="8"></uses-sdk>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application

        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:allowBackup">


        <activity android:name="com.eros.framework.activity.MainActivity" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="${APP_ID}.categoty.page"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation"
            />

        <!--图片预览Activity-->
        <activity
            android:name="com.eros.framework.activity.BrowseImgActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/FullscreenTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
            <intent-filter> <!--URL Scheme启动-->
                <!--必有项-->
                <action android:name="android.intent.action.VIEW"/>
                <!--如果希望该应用可以通过浏览器的连接启动，则添加该项-->
                <category android:name="android.intent.category.BROWSABLE"/>
                <!--表示该页面可以被隐式调用，必须加上该项-->
                <category android:name="android.intent.category.DEFAULT"/>
                <!--协议部分-->
                <data android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.eros.framework.activity.GlobalWebViewActivity" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="${APP_ID}.category.web"/>
            </intent-filter>
        </activity>

        <activity android:name="com.eros.framework.activity.DebugActivity" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="${APP_ID}.category.debug"/>
            </intent-filter>
        </activity>
        <!--新浪微博-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            >
        </activity>
        <activity android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            >

        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!--新浪微博end-->
        <!--国外分享平台-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:excludeFromRecents="true"
            />
        <!-- facebook xxxxxxxxxxxxxxx 填写facebook_app_id-->
        <!--<activity-->
            <!--android:name="com.umeng.facebook.FacebookActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--<provider-->
            <!--android:name="com.umeng.facebook.FacebookContentProvider"-->
            <!--android:authorities="com.facebook.app.FacebookContentProvider2205555536435884"-->
            <!--android:exported="true" />-->

        <!--<meta-data-->
            <!--android:name="com.facebook.sdk.ApplicationId"-->
            <!--android:value="@string/facebook_app_id" />-->

        <!--twitter-->
        <activity
            android:name="com.umeng.socialize.handler.TwitterWebActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <!--国外分享平台end-->
        <!--wxApi-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="wx3d87b0a1c9f9c3ba"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

        <!--amap-->

        <!--<service android:name="com.amap.api.location.APSService"></service>-->
        <!--amap finish-->

        <!--个推-->
        <!-- 自定义权限 -->
        <permission
            android:name="getui.permission.GetuiService.${APP_ID}"
            android:protectionLevel="normal"/>

        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.service.message"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="PUSH_APPID"
            android:value="${GETUI_APP_ID}"/>
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="${GETUI_APP_KEY}"/>
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="${GETUI_APP_SECRET}"/>
        <receiver
            android:name="com.eros.erosplugingt.GTPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}"/>
            </intent-filter>
        </receiver>
        <!-- 个推SDK配置结束 -->

        <!-- 友盟统计SDK配置 -->
        <!-- 友盟统计SDK配置结束 Channel ID 统计渠道 可不写  不写时 渠道为unknown-->
        <meta-data android:name="UMENG_CHANNEL" android:value="default"/>
        <meta-data android:name="UMENG_APPKEY" android:value="5b20ee70f43e4869800000e4"/>
        <meta-data android:name="PUBLISH_COUNTRY" android:value="CHN" />

        <!--<meta-data android:name="UMENG_CHANNEL" android:value="googleplay-IDN"/>-->
        <!--<meta-data android:name="UMENG_APPKEY" android:value="5bcac853f1f556107b0009a0"/>-->
        <!--<meta-data android:name="PUBLISH_COUNTRY" android:value="IDN" />-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${APP_ID}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>

        </provider>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
